Source: orbit
Priority: optional
Section: admin
Maintainer: Volian Developers <volian-devel@volian.org>
Uploaders: Blake Lee <blake@volian.org>
Build-Depends:
  debhelper-compat (= 13),
  ca-certificates,
  python3,
  cargo,
  rustc (>= 1.95),
  libapt-pkg-dev,
  pkg-config,
  libssl-dev,
  bash-completion,
  dh-sequence-bash-completion,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/steven66619/orbit
Vcs-Git: https://github.com/steven66619/orbit.git
Vcs-Browser: https://github.com/steven66619/orbit

Package: orbit
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  apt,
Suggests: aria2,
Description: Commandline frontend for the APT package manager
 Orbit is a frontend for the APT package manager. It keeps APT's package
 semantics while presenting package operations in a clearer, more inspectable
 format before changes are committed.
